@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Lab №5</h2>
    <h3>Completed by a student of group IPZ-31, Honcharuk Dmytro</h3>
    <h4>Variant 16</h4>
    <p>To access Labs 1-3, please register and log in</p>
    <p>After that, you will be able to complete the tasks described in Labs 1-3</p>
</div>

