@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Lab6</h2>
    <h3>Made by Dmytro Honcharuk IPZ-31</h3>
    <h4>Varian #16</h4>
    <p>To access features sign in</p>
</div>
